
/* css */

body {
    
}


div.calculadora {
    width: 100%;
    border: 1px solid blue;
    padding: 10px;
}

div.calculadora input {
    width: 195px;
    margin-bottom: 5px;
}
div.calculadora button {
    width: 66px;
    margin-bottom: 5px;
}